body{

/*     padding: 0px;
  
    border: 0px; */
    background-color:  rgba(217, 156, 184, 0.2);
    margin: auto;
}

header{
    display: flex;
    flex-flow: row wrap;

    background-color: #026873;
    text-align: justify;
    padding: .2rem;
/*     width: 1345px;
    height: 80px; */
}

@media only screen and (min-width: 768px) {
    #carousel{
        width: 100% !important;
        height: auto !important;
    }
}   
#carousel{
    max-width: -webkit-fill-available; /*1345px*/
    height: 490px;
}
#Banner{
    color: #fff;
    font-size: 50px;
    padding: 10px; 
}
#title{
    text-align: center;
}
#movies{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-flow: row wrap !important; 
/*    diana-- display: grid;
   align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    margin: 0px, 10px, 5px, 10px; */
}

.poster {
    flex-basis: 21%; /* explanation below */
}
footer{
/*     width: 1345px;
    height: 60px; */
    background: #C9D991;
}